.center {
  text-align: center;
}
.background-color {
  background-color: #41EAD4;
}
.tilebreak {
  background-color: #FDFFFC;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
